/* Header */

.contactArea {
  background-color: #666;
  color: #fff;
  text-align: right;
}

.contactColumn {
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}

/* Navigation */

.logo {
  text-align: left;
}

.logo img {
    width: 20%;
    margin: 5px 0 5px 5px;
}

.navigation {
    background-color: #ffc400;
    text-align: right;
    padding: 10px 0;
    font-weight: bold;
}

.navigation a {
    color: #000;
    padding: 5px;
    border: 2px solid #000;
}

/* Banner */

.mastHead {
    height: 450px;
    overflow: hidden;
    background-color: #ffc400;
    color: #000;
}

.mastHead h1,
.mastHead h2,
.mastHead h3,
.mastHead h4,
.mastHead h5,
.mastHead h6 {
    color: #000;
}

ul.store-badges {
    list-style: none;
}

ul.store-badges li a ,
ul.store-badges a {
    display: inline-block;
    background: black;
    width: 245px;
    height: 70px;
    border-radius: 4px;
}

.store-badges a.store-iOS {
    background-position: 0 0;
}
.store-badges a.store-Android {
    background-position: 0 -70px;
}
.store-badges a.store-Windows-Phone {
    background-position: 0 -140px;
}

.mastHeadImage {
    background: url("../images/android_phone.png") no-repeat;
    background-size: cover;
    background-position: 0 15px;
}

/* Content Area */

section.info h3,
section.info h4 {
    color: orange;
}

/* Footer Area */

footer {
    color: #fff;
    background-color: #666;
    padding: 10px 0;
}

footer .logo img,
footer .logo p {
    margin-left: 10px;
    display: block;
}

footer .logo p {
    margin-bottom: 0;
}

footer a {
    color: #fff;
}

footer h6 {
    font-weight: bold;
    border-bottom: 1px solid #fff;
}