body {
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.mdl-layout__drawer-button,
.mdl-layout__drawer-button i {
  color: white;
}

@media (max-width: 900px) {
  .mdl-layout__drawer-button {
    width: 100%;
    margin: 0;
    background-color: transparent;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.avatar {
  height: 200px;
  width: 200px;
  margin: 0 auto 2em;
}

.avatar-img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
}

.drawer-text {
  padding: 1em;
  text-align: center;
}

.hero-section {
  height: 100vh;
  width: 100%;

  margin: 0;
  padding: 0;

  background-color: rgba(121, 85, 72, 0.6);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(121, 85, 72, 0.3),
      rgba(121, 85, 72, 0.3)
    ),
    url('https://cdn.pixabay.com/photo/2022/09/30/10/05/river-7489170_1280.jpg');
  background-image: -webkit-linear-gradient(
      rgba(121, 85, 72, 0.3),
      rgba(121, 85, 72, 0.3)
    ),
    url('https://cdn.pixabay.com/photo/2022/09/30/10/05/river-7489170_1280.jpg');

  position: relative;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin: auto;
}

.hero-text {
  color: white;
  margin: auto;
}
@media screen and (max-width: 580px) {
  .hero-text p {
    white-space: pre-line;
  }
}

.kitty-hero__text-button,
.mdl-button--fab.kitty-hero__text-button {
  position: absolute;

  bottom: -28px;
  left: 50%;

  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

/* About Pic Intro and Cards */

.intro-section,
.cards-section {
  max-width: 960px;
}

.intro-section,
.mdl-grid.intro-section {
  padding: 5em 2em 5em;
}

.about-kitty p {
  max-width: 640px;
  margin: auto;
}

.circle-container {
  width: 100%;
  min-height: 100px;

  padding: 2em 0;

  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;

  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;

  align-items: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
}

.circle-container .circle {
  height: 16px;
  width: 16px;

  background-color: #c51162;

  border-radius: 50%;
  margin: 0 3px 9px;
}

.topics-container {
  padding: 2em 0;
}

.topics-container .topic {
  font-size: 20px;
  margin: 0 2px 5px;
}

@media screen and (max-width: 480px) {
  .topics-container .topic {
    margin-bottom: 0.5em;
  }
}

.embedded-img {
  max-width: 150px;
  max-height: 150px;

  margin: 0.5em;
  border-radius: 50%;
}

/* Fullwidth Background section */

.fullwidth-panel {
  color: white;
  background-color: rgba(156, 39, 176, 0.6);
}

.fullwidth-panel p {
  max-width: 640px;
  margin: auto;
}

.quote-panel {
  background-position: center 5%;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: linear-gradient(
      rgba(63, 81, 181, 0.5),
      rgba(63, 81, 181, 0.5)
    ),
    url('https://cdn.pixabay.com/photo/2020/09/20/07/24/iceland-5586225_1280.jpg');
  background-image: -webkit-linear-gradient(
      rgba(63, 81, 181, 0.5),
      rgba(63, 81, 181, 0.5)
    ),
    url('https://cdn.pixabay.com/photo/2020/09/20/07/24/iceland-5586225_1280.jpg');

  padding: 4em 2em 2em;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;

  align-content: flex-start;
  -ms-flex-line-pack: start;
}

@media screen and (min-width: 800px) {
  .quote-panel {
    background-position: center 0;
    padding: 6em 2em;
  }
}

@media screen and (min-width: 1200px) {
  .quote-panel {
    background-position: center 8%;
    padding: 10em 2em 8em;
  }
}
